{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^[a-z]",
    "^@server/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false
}
